
@use 'variables' as *;
 


*{
    margin: 0;
}

body {
    font-family: 'Open Sans';
    font-weight: 400;
    background-color: white;
}


.main-header {
    text-decoration: none;
}

h1,
h2 {
    font-size: 3.75rem;
    font-weight: 300;
}

h3 {
    font-size: 2rem;
    font-weight: 300;
}

p {
    font-size: 1rem;
    font-weight: 400;
}


.nav {
    background-color: #FFF0ED;
    display: flex;
    padding: 0.6rem;
    justify-content: space-between;
    align-items: center;

    &__icon{
        display: flex;
    }
}

.nav-link {
    font-size: 1.3rem;
    font-weight: 400;
    list-style: none;
}

.nav__icon-logo {
    padding-top: 1.2rem;
    padding-right: 0.5rem;
    width: 3.125rem;
}

.nav__list {
    font-size: 1.3rem;
    font-weight: 400;
    align-items: center;

}

.nav__list,
.nav__list-link,
.nav__list-link--blue {
    display: inherit;
    padding: 1.25rem;
    margin: 0.1rem;
    list-style: none;
    text-decoration: none;
    color: #393939;
}

.nav__list-link--blue {
    text-decoration: none;
    color: #5BACC3;
}

.nav__heading {
    text-decoration: none;
    color: #393939;
}





